*{
 
    font-family: Arial, Helvetica, sans-serif;;
 
 }
 
 
 header{
 background-image: url(../backk.jpg);
 height: 100vh;
 background-size: cover;
 background-position:center;
 }
 
 ul{
 
 float: center;
 list-style-type: none;
 margin-top: 25px;
 
 }
 
 ul li{
 
 display: inline-block;
 
 }
 
 ul li a{
 text-decoration: none;
 color: #fff;
 padding: 5px 20px;
 border: 1px solid #fff
 
 }
 
 ul li a:hover{
 background-color: #fff;
 color: #000;
 }

 /* Main column */
.main {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 900px;
    margin: auto;
  }
  .main h2 {
    font-size: 32px;
    color: #474747;
    text-align: center;
  }
  .main h5 {
    font-size: 15px;
    color: #8d8d8d;
    font-weight: lighter;
    text-align: center;
  }