*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;;
 
 }
 
 
 header{
 background-image: url(../backk.jpg);
 height: 100vh;
 background-size: cover;
 background-position:center;
 }
 
 ul{
 
 float: center;
 list-style-type: none;
 margin-top: 25px;
 
 }
 
 ul li{
 
 display: inline-block;
 
 }
 
 ul li a{
 text-decoration: none;
 color: #fff;
 padding: 5px 20px;
 border: 1px solid #fff
 
 }
 
 ul li a:hover{
 background-color: #fff;
 color: #000;
 }